header {
    list-style-type: none;
    overflow: hidden;
    background-color: #3D9970;
    border-bottom: 2px solid rgb(54, 128, 94);

}

h2 {
    color: white;
    font-family: Calibri, sans-serif;
    text-align: center;
    font-size: 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3D9970;
    text-align: center;
}

li {
    display: inline-block;
    width: 200px;
    color: #232931;
    padding: 15px 0 15px;
    font-family: Calibri, sans-serif;
}

li a {
    display: inline-block;
    color: #616161;
    text-align: center;
    padding: 10px 20px;
    font-size: 22px;
    text-transform: uppercase;
    background-color: white;
    transition: .3s;
    border-radius: 8px;
}

li a:hover {
    background-color: #000000;
    color: white;
}

.main {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 18%;
    padding-right: 18%;
}

#wrapper {
    padding-top: 50px;
    font-family: Calibri, sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

#wrapper > div {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    background-color: transparent;
}

.tittle {
    background: transparent;
    text-align: center;
}


article {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#divStudent{
    padding-top: 50px;
    font-size:25px;
    display: inline-block;
}

#mngMenu{
    padding-top:50px;
    display: inline-block;
}

#title{
    font-size: 60px;
    text-align: center;
}


.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

